---
###   set grub password and luks encryption
variant: fcos
version: 1.5.0
ignition:
  timeouts:
    http_total: 360
passwd:
  users:
    - name: core
      ssh_authorized_keys:
        - "{{ rpi4_coreos_user_ssh_authorized_key }}"
storage:
  links:
    - path: /etc/localtime
      target: ../usr/share/zoneinfo/Europe/Jersey
  luks:
    - name: var
      device: /dev/disk/by-partlabel/var
      wipe_volume: true
  disks:
    - device: /dev/disk/by-id/coreos-boot-disk
      partitions:
      - number: 4
        label: root
        size_mib: 8192
        resize: true
      - number: 5
        label: var
        size_mib: 0
        resize: true
  filesystems:
    - path: /var
      device: /dev/mapper/var
      format: xfs
      label: var
      # wipe_filesystem: true
      with_mount_unit: true

# variant: fcos
# version: 1.4.0
# storage:
# 
#   filesystems:
#     - path: /var/lib/data
#       device: /dev/mapper/data
#       format: xfs
#       label: DATA
#       with_mount_unit: true


