
module policy_motioncore 1.0;

require {
	type motion_t;
        type passwd_file_t;
        type shell_exec_t;
	type cert_t;
	type smtp_port_t;
	type bin_t;
	type motion_exec_t;
	class file { execute execute_no_trans getattr map open read };
	class dir { getattr open read search };
	class lnk_file read;
	class tcp_socket name_connect;
}

#============= motion_t ==============
allow motion_t passwd_file_t:file { getattr open read };
allow motion_t shell_exec_t:file { execute execute_no_trans };
allow motion_t shell_exec_t:file map;
allow motion_t bin_t:file execute;
allow motion_t bin_t:file map;
allow motion_t cert_t:dir { getattr open read search };
allow motion_t cert_t:file { getattr open read };
allow motion_t cert_t:lnk_file read;
allow motion_t motion_exec_t:file execute_no_trans;
allow motion_t smtp_port_t:tcp_socket name_connect;