#!/bin/bash

set -e
[[ -d /tmp/FCOSEFIpart ]] && rm -rf /tmp/FCOSEFIpart
FCOSDISK={{ motioncore_provision_disk }}
sudo coreos-installer install --architecture=aarch64 -i ./files/config.ign $FCOSDISK

FCOSEFIPARTITION=$(lsblk $FCOSDISK -J -oLABEL,PATH  | jq -r '.blockdevices[] | select(.label == "EFI-SYSTEM")'.path)
mkdir /tmp/FCOSEFIpart
sudo mount $FCOSEFIPARTITION /tmp/FCOSEFIpart
pushd /tmp/FCOSEFIpart
VERSION=$(curl https://api.github.com/repos/pftf/RPi4/releases/latest -s | jq .name -r)  # use latest one from https://github.com/pftf/RPi4/releases
sudo curl -LO https://github.com/pftf/RPi4/releases/download/${VERSION}/RPi4_UEFI_Firmware_${VERSION}.zip
sudo unzip RPi4_UEFI_Firmware_${VERSION}.zip
sudo rm RPi4_UEFI_Firmware_${VERSION}.zip
popd
sudo umount $FCOSEFIPARTITION
find /tmp/ -name "coreos-installer*" -maxdepth 1 -type=d exec sudo rm -rf {} +
[[ -d /tmp/FCOSEFIpart ]] && sudo rm -rf /tmp/FCOSEFIpart